* {
  margin:0;
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 22px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(219, 252, 252);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #00c2ea;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255);
  /* creates padding around scroll thumb */
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 100vw;
}



/*---------------------------------PRELOADER----------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00c2ea;
  /* cor do background que vai ocupar o body */
  z-index: 999;
  /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
  position: absolute;
  top: 50%;
  /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolas>div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bolas>div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0;
}

.bolas>div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s;
}

.bolas>div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
  16% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0.7;
  }
  33% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00c2ea;
  /* cor do background que vai ocupar o body */
  z-index: 999;
  /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
  position: absolute;
  top: 50%;
  /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolas>div {
  display: inline-block;
  background-color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bolas>div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0;
}

.bolas>div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s;
}

.bolas>div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
  16% {
      -webkit-transform: scale(0.1);
      transform: scale(0.1);
      opacity: 0.7;
  }
  33% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
}
/*---------------------------------FIM PRELOADER----------------------------------*/

header {
  margin: 10px 10vw;
}

.container-header {
  min-width: 200%;
  display: flex;
}

.container-header .user-login {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 56.4vw;
}

.container-header .user-login small {
  color: #00c2ea;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 20px;
  display: block;
}

.container-header .user-login a {
  text-decoration: none;
}

.container-header .user-login img {
  margin-right: 10px;
  margin-left: 20px;
}

.img-user {
  display: block;
}

/*---------------------------------NAV-BAR----------------------------------*/

nav {
  max-width: 100%;
  min-width: 40%;
  background: rgb(248, 248, 248);
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 15px;
}

.navbar a {
  text-decoration: none;
  font-size: 14px;
  margin-right: 4vw;
}

.navbar a:hover {
  font-weight: bolder;
  color: #00c2ea;
}

.form-inline {
  display: flex;
  max-width: 100%;
  margin-left: 18vw;
}

.form-inline button {
  color: white;
  border: none;
  background-color: #00c2ea;
}

.form-inline button:hover {
  color: white;
  border: none;
  background-color: #00c2ea;
}


.carousel-item img {
  object-fit: cover;
}

#btn-saibaMais {
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  background-color: #00c2ea;
}

#btn-criarConta {
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: #00c2ea;
  background-color: white;
  border: 2px solid #00c2ea;
}

.container-section {
  margin: 0 10vw;
  display: grid;
  top: 45vw;
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}

.container-section a {
  color: black;
  text-decoration: none;
}

.container-section a:hover {
  color: black;
}

.container-section .cards-top {
  margin-top: 4vw;
}

.container-section .cards-down {
  margin-top: -4vw;
}

.container-cards {
  position: relative;
  cursor: pointer;
  box-shadow: 0px 10px 30px rgb(235, 235, 235);
  padding: 40px;
  max-width: 80vw;
  min-height: 27vw;
  max-height: 130vw;
  background-color: rgb(255, 255, 255);
}

.container-cards:hover {
  transition: 1.5s;
  box-shadow: 0px 10px 50px #00c2ea;
}

.cards,
.cards-down,
.cards-top {
  margin-top: 0;
}

.container-cards img {
  min-width: 100%;
  max-width: 22vw;
}

.container-cards #title-cards {
  font-size: 20px;
  margin-top: 8px;
  text-align: center;
}
/* .container-cards #text-cards{

} */

#background-section {
  opacity: 0.8;
  object-fit: cover;
  width: 100%;
  height: 40vw;
  margin-top: 25vw;
}

.container-noticias {
  margin: 2vw 10vw;
  gap: 1vw;
  display: grid;
  grid-template-areas: "grid-noticias1 grid-noticias1 grid-noticias1" "grid-noticias2 grid-noticias3 grid-noticias4" "grid-noticias5 grid-noticias5 grid-noticias5";
}

.container-noticias img {
  width: 24.8vw;
}

.grid-noticias1 {
  grid-area: grid-noticias1;
}

.grid-noticias1 img {
  position: relative;
  width: 78vw;
  height: 35vw;
}

.grid-noticias1 p {
  top: 30vw;
  width: 20vw;
  position: absolute;
}

.grid-noticias2 {
  grid-area: grid-noticias2;
}

.grid-noticias3 {
  grid-area: grid-noticias3;
}

.grid-noticias4 {
  grid-area: grid-noticias4;
}

.grid-noticias5 {
  display: flex;
  grid-area: grid-noticias5;
}

.grid-noticias5 img {
  width: 40vw;
  height: 24vw;
}

.noticias-fim p {
  text-align: justify;
  padding: 0 20px;
  flex-direction: column;
  display: flex;
}

.noticias-fim p {
  width: 39vw;
}

@media(max-width:1570px) {
  .container-section {
      height: -60vw;
      top: -60vw;
      margin: 0 10vw;
      display: grid;
      position: relative;
      grid-template-columns: repeat(2, 4fr);
      gap: 1vw;
  }
  #section-escolhas {
      background-color: #7cc3df;
  }
  .container-cards {
      box-shadow: none;
  }
  #background-section {
      visibility: hidden;
      z-index: 0;
  }
  .navbar a {
      font-size: 14px;
  }
  .navbar a {
      margin-right: 2vw;
  }
  .form-inline {
      display: flex;
      max-width: 100%;
      margin-left: 0vw;
  }
  .container-section img {
      min-height: 20vw;
      width: 100%;
  }
  .container-section .cards-top {
      margin-top: 0;
  }
  .container-section .cards-down {
      margin-top: 0;
  }
}

@media(max-width:1395px) {
  .container-section {
      min-height: -10vw;
  }
  .container-section {
      margin: 0 10vw;
      display: grid;
      position: relative;
      grid-template-columns: repeat(2, 4fr);
      gap: 1vw;
  }
}

@media(max-width:900px) {
  header {
      width: 70%;
  }
  .container-header .user-login {
      display: flex;
      margin-right: 20px;
      margin-left: 10vw;
  }
  .container-section {
      width: 200vw;
      margin: 0 10vw;
      display: grid;
      position: relative;
      grid-template-columns: repeat(1, 4fr);
      gap: 1vw;
  }
  .container-section img {
      min-height: 20vw;
      width: 100%;
  }
  .container-section .cards-top {
      margin-top: 0;
  }
  .container-section .cards-down {
      margin-top: 0;
  }
}

@media(max-width:690px) {
  .carousel-item img {
      min-width: 100%;
      opacity: 0.6;
  }
  .conteudo-carousel {
      width: 80%;
  }
}

@media(max-width:560px) {
  .container-header .user-login {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
  }
  .container-header .user-login small {
      white-space: nowrap
  }
}

footer {
  position: relative;
  border-top: 10px solid #00c2ea;
  max-height: 10vw;
}
/*---------------------------------Livros----------------------------------*/
/*----------------------------Pg. Livros/Acervo da biblioteca------------------------------*/

.contrast .livros__imagem {
border: .1rem solid #fff;
border-radius: .5rem;
margin-bottom: 1rem;
}

.acervo-item {
width: 100%;
border-radius: 50%;
transition: .4s;
max-width: 220px;
}

.acervo-item:first-child {
max-width: 245px;
}

.acervo-item .acervo-item__text {
font-size: 34px;
font-weight: 700;
line-height: 46px;
color: #2e3d49;
}

.acervo-item .acervo-item__text span {
color: #0bcec1;
font-size: 34px;
}

.acervo-item .cicle {
background-image: url("../images/cicle-min.png");
background-position: center;
background-size: cover;
width: 181px;
height: 180px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.acervo-item .cicle-num {
font-size: 32px;
}

.acervo-item .cicle p {
color: #7bf3eb;
font-size: 25px;
font-weight: 700;
line-height: 25px;
line-height: 32px;
margin: 0;
}

.acervo-item .cicle span {
font-size: 18px;
color: #fff;
font-weight: 500;
margin: 0;
width: 160px;
text-align: center;
line-height: 18px;
}

@media (max-width:1030px) {
.acervo-row {
flex-wrap: wrap;
max-width: 880px;
margin: 0 auto;
}

.acervo-item:first-child {
max-width: 100%;
text-align: center;
margin-bottom: 20px;
}

.acervo-item .cicle {
width: 100%;
height: 170px;
}

.cabecalho ol li {
margin-left: 20px;
}
}

.ui-container {
box-sizing: border-box;
max-width: 1130px;
width: 100%;
margin: 0 auto;
}

@media (max-width:800px) {
.acervo-item {
max-width: 155px;
}

.acervo-item .cicle {
height: 155px;
margin-bottom: 20px;
}

.acervo-item .cicle:last-child {
margin-bottom: 0;
}

.acervo-row {
max-width: 650px;
width: 100%;
justify-content: space-around;
}
}

.box_nossoAcervo {
width: 100%;
display: flex;
background: #f6f7fb;
padding: 4rem 0;
}
.box_nossoAcervo .ui-container {
margin-top: -3.2rem;
display: block;
justify-content: center;
width: 102rem;
}
@media (max-width:700px) {
.box_nossoAcervo .ui-container {
width: 95%;
}

.box_search-site .ui-container {
width: 95%;
}
}
@media (max-width:1000px) {
.acervo__filter {
height: auto;
}

.acervo__filter-row {
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.acervo__filter-button {
width: 100%!important;
margin-right: 0!important;
margin-bottom: 10px;
}

.filters__list-item:nth-child(2) {
margin-top: 45px;
}

.filters__list-item:nth-child(3) {
margin-top: 90px;
}

.filters__list-item:nth-child(4) {
margin-top: 135px;
}

.filters__list-item:nth-child(5) {
margin-top: 180px;
}

.filters__lista {
font-size: 1.2rem;
}

.filters__lista label {
width: 100%;
margin-bottom: 5px;
}

.livros__item {
width: 45%!important;
margin-right: 0!important;
}
}

.acervo__filter-label {
font-size: 1.4rem;
line-height: 20px;
position: absolute;
left: 0;
top: -29px;
color: #fff;
font-weight: 500;
}

.acervo__filter-row {
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
}

.filters__list {
position: absolute;
left: 15px;
top: 55px;
width: calc(100% - 30px);
z-index: 25;
}

.livros__lista.opaco {
position: relative;
}

.filters__list-item {
background: #fff;
border: 1px solid #eee;
border-radius: 4px;
box-shadow: 0 3px 6px rgba(0,0,0,.16);
padding: 20px;
display: none;
}

.filters__title {
font-size: 14px;
line-height: 20px;
font-weight: 600;
color: #47484a;
margin-bottom: 20px;
}

.filters__lista {
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0 -10px;
}

.filters__lista label input {
display: none;
}

.filters__apply {
font-size: 14px;
font-weight: 600;
background-color: transparent;
padding: 0;
border: 0;
cursor: pointer;
color: #55a8fd;
transition: .4s;
}

.filters__apply:hover {
color: #288ff9;
}

.filters__lista label .label {
width: 100%;
font-size: 12px;
color: #47484a;
line-height: 20px;
padding: 6px 10px;
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: justify;
justify-content: space-between;
-ms-flex-align: center;
align-items: center;
border-radius: 20px;
cursor: pointer;
}

.filters__lista label .deactive {
color: #eee;
}

.filters__lista label input:checked~.label .fa-times {
display: block;
}

.bookbox__button.active i {
background-image: linear-gradient(to bottom left,#98cafd,#66b0fd);
color: #fff;
font-size: 15px;
font-weight: 500;
}

.filters__lista label input:checked~.label {
background: #d4e9ff;
color: #55a8fd;
}

.livros__lista.opaco::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(246,247,251,.9);
z-index: 10;
}

.filters__lista label {
width: calc(25% - 40.75px);
margin-bottom: 10px;
margin-right: 4rem;
}

.filters__lista .label-star {
width: calc(18% - 26.75px);
}

.filters__footer {
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: justify;
justify-content: space-between;
padding-top: 15px;
margin-top: 15px;
border-top: 1px solid #cbcbcd;
}

.filters__clear {
background-color: transparent;
border: 0;
padding: 0;
font-size: 14px;
font-weight: 600;
color: #aeafb3;
cursor: pointer;
transition: .4s;
}

.filters__clear:hover {
color: #333;
}

.filters__lista label .label .fa-times {
display: none;
}

.acervo__filter-button:not(:last-child) {
margin-right: 15px;
}

.acervo__filter-button {
width: 10px;
height: 34px;
line-height: 34px;
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: justify;
justify-content: space-between;
-ms-flex-align: center;
align-items: center;
-ms-flex-positive: 2;
flex-grow: 2;
border-radius: 4px;
background: #efefef;
color: #47484a;
font-size: 13px;
font-weight: 600;
cursor: pointer;
border: 0;
padding: 0 15px;
transition: .4s;
}

.acervo__filter-button span {
width: 10px;
-ms-flex-positive: 2;
flex-grow: 2;
margin-right: 10px;
font-size: 1.2rem;
display: flex;
}

.acervo__filter-button.active {
background: #afafaf;
color: #fff;
}

.acervo__filter-button .fa-sort-down {
position: relative;
top: -3px;
}

.acervo__filter-button .fa-star.active {
color: #fdc555;
}

.acervo__list-info {
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: justify;
justify-content: space-between;
-ms-flex-align: center;
align-items: center;
padding-top: 30px;
margin-bottom: 30px;
}

.acervo__exibindo {
font-size: 13px;
line-height: 20px;
color: #777;
}

.acervo__ordenacao {
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: justify;
justify-content: space-between;
-ms-flex-align: center;
align-items: center;
}

.acervo__orderby {
border: 1px solid #aeafb3;
border-radius: 4px;
font-size: 12px;
height: 40px;
font-weight: 600;
width: 18rem;
background-color: transparent;
margin-left: 20px;
text-indent: 15px;
color: #000;
}

.acervo__orderby option {
margin: 2rem;
font-size: 12px;
}

.acervo__orderby:hover {
color: #26333d;
}
*/
.acervo__page .livros__lista {
padding: 0;
}

.livros__lista {
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
justify-content: flex-start;
flex-wrap: wrap;
}

@media (max-width:1000px) {
.livros__lista {
padding: 0 30px;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
}

.acervo__page .livros__item:not(:nth-child(4n)) {
margin-right: 30px;
}

.livros__item {
width: calc(25% - 23px);
margin: 30px 16px;
background: #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 6px rgba(0,0,0,.16);
position: relative;
box-sizing: border-box;
}

.livros__imagem {
padding: 25px 25px 15px;
display: -ms-flex;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
}

.livros__imagem img {
height: 180px;
max-height: 100%;
width: auto;
max-width: 100%;
box-shadow: 0 2px 6px rgba(0,0,0,.16);
}

.livros__title {
padding: 0 20px;
font-size: 14px;
line-height: 20px;
font-weight: 700;
color: #666;
text-align: center;
margin-top: 10px;
display: block;
text-decoration: none;
}
.livros__author {
margin-top: 10px;
font-size: 12px;
line-height: 17px;
font-weight: 500;
color: #777;
text-align: center;
margin-bottom: 20px;
display: block;
text-align: center;
text-decoration: none;
}

.acervo__page .livros__item:not(:nth-child(4n)) {
margin-right: 30px;
}

.livros__item.epub:after,
.sugestoes .slider-books .slide-item-box.epub:after {
display: block;
}
.book__thumb:after,
.livros__item:after,
.sugestoes .slider-books .slide-item-box:after {
content: 'EPUB';
position: absolute;
top: 181px;
right: 0;
width: 60px;
height: 30px;
line-height: 30px;
color: #fff;
font-weight: 700;
padding-left: 17px;
font-size: 1rem;
font-family: sans-serif;
letter-spacing: .1em;
background: #56a8fe;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
display: none;
}
@media (max-width:400px) {
.acervo-row {
max-width: 350px;
}

.acervo-item {
margin-bottom: 10px;
}
}
@media (max-width:500px) {
.ui-container {
max-width: 320px;
}
}
@media (max-width:500px) {
.livros__item {
width: 100%!important;
margin-right: 0!important;
}

.filters__lista label {
width: 100%!important;
margin-bottom: 10px;
}

.filters__lista label {
width: calc(25% - 40.75px);
margin-bottom: 10px;
}

.label-star span {
margin-right: 1rem;
}
}
/*----------------------------------Reserva de Livros------------------------------------*/
@keyframes Dots {
  0% {
  content: "";
  }
  
  33% {
  content: ".";
  }
  
  66% {
  content: "..";
  }
  
  100% {
  content: "...";
  }
  }
  .detalhe-area-comentario {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #5897fb;
  }
  
  .detalhe-area-comentario h1 {
  margin: 50px 0;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  padding: 0 1rem;
  }
  
  
  .wrapper1 {
  float: left;
  width: 112rem;
  margin: 0 auto;
  }
  
  .paragraph-space {
  font-size: 1.4rem;
  margin-block-start: 1.5 em!important;
  margin-block-end: 1em!important;
  margin-inline-start: 0;
  margin-inline-end: 0;
  line-height: 2.4rem!important;
  }
  
  .book__header-content {
  position: relative;
  z-index: 10;
  }
  
  .header__back {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: .4s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }
  
  .header__back .arrow-img {
  margin-right: 10px;
  }
  
  .header__back:hover {
  color: #fdc555;
  }
  
  .header__back i {
  margin-right: 5px;
  }
  
  .book__header-info {
  padding-top: 30px;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: center;
  color: #fff;
  }
  
  .book__header-info p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300!important;
  }
  
  .book__header-info strong {
  font-weight: 600!important;
  font-size: 1.4rem!important;
  }
  
  .book_textInfo {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  }
  
  .book_textInfo-item {
  margin-right: 15rem;
  }
  
  .book_textInfo-item .paragraph-space {
  margin-block-start: 1.2rem!important;
  margin-block-end: 1.2rem!important;
  }
  
  .book__thumb {
  width: 25%;
  margin-right: 30px;
  position: relative;
  }
  
  .book__thumb img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  box-shadow: 0 3px 6px rgba(0,0,0,.06);
  }
  
  .book__info {
  width: 10px;
  -ms-flex-positive: 2;
  flex-grow: 2;
  }
  
  .book__review {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #fff;
  }
  
  .book__stars {
  font-size: 13px;
  margin-right: 5px;
  color: #d9d9d9;
  }
  
  .book__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
  margin-block-start: 0!important;
  }
  
  .book__author {
  font-size: 1.6rem!important;
  line-height: 22px;
  color: #fff;
  margin-bottom: 25px;
  }
  
  .book__action {
  display: block;
  width: 230px;
  display: -ms-flex;
  display: -ms-flexbox;
  font-family: 'Open Sans',sans-serif;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
  transition: .4s;
  text-decoration: none;
  }
  
  .book__action i.fa-play {
  font-size: 12px;
  background-image: linear-gradient(to bottom left,#a2f2ed,#2fd6cb);
  }
  
  .book__action i {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  background-image: linear-gradient(to bottom left,#d4d4d4,#e1e1e1);
  color: #15637c;
  font-size: 14px;
  transition: .4s;
  }
  
  .book__share {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #f6f7fb;
  margin-top: 47px;
  display: -ms-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  padding-bottom: 15px;
  padding-top: 1rem;
  }
  
  .item-l {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  }
  
  .book__share a {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  margin-left: 12px;
  color: #14607e;
  text-decoration: none;
  font-size: 12px;
  transition: .4s;
  }
  
  .book__share a:not(.fa-facebook-f) {
  font-size: 14px;
  }
  
  .book__share a:hover {
  background-color: transparent;
  color: #fff;
  }
  
  .item-r .btn {
  max-width: 21.4rem;
  width: 100%;
  padding: 1.5rem 2rem;
  font-weight: 300;
  text-transform: none;
  transition: .4s;
  }
  
  .item-r .btn:hover {
  background: #fff;
  color: #55a8fd;
  box-shadow: none;
  }
  
  .item-r .btn .carrinho {
  margin-right: 1.5rem;
  font-size: 1.4rem;
  }
  
  .box_book-nossoacervo {
  background-image: url("Livro05.jpg");
  }
  
  .book__header-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
  opacity: .3;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  }
  
  .book__header {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 24px 90px 3%;
  height: auto;
  display: block;
  background: #032d4a;
  position: relative;
  }
  
  .destaques_nossoAcervo .btn {
  max-width: 21.4rem!important;
  background: #55a8fd;
  color: #eee;
  font-size: 1.4rem;
  text-align: center;
  width: 81%!important;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  padding: 1.1rem 2rem!important;
  }
  
  .destaques_nossoAcervo {
  display: flex;
  justify-content: center;
  }
  
  .destaques_nossoAcervo .wrapper1 {
  width: 100rem;
  }
  
  .destaques_descricao .wrapper1 {
  width: 100rem;
  }
  
  @media (max-width:1024px) {
  .book__thumb {
  width: 32%;
  }
  
  .fundo-azul #input-search.input-search .twitter-typeahead {
  width: 45%;
  }
  }
  
  @media (max-width:1000px) {
  .destaques_descricao .wrapper1 {
  width: 90%;
  }
  
  .book__header-info {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  }
  
  .book__thumb {
  margin-right: 0;
  margin-bottom: 20px;
  width: 40%;
  }
  
  .book__info {
  width: 100%;
  }
  
  .conheca-bv .bloco-direita {
  margin-bottom: 50px;
  text-align: center;
  }
  
  .conheca-bv h1 {
  margin: 50px 0 50px 0;
  text-align: center;
  }
  
  .conheca-bv p {
  margin: 10px 0 70px 0;
  text-align: center;
  }
  }
  
  @media (max-width:600px) {
  .item-r {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  justify-content: center;
  }
  
  .item-r .btn {
  max-width: 100%!important;
  width: 100%!important;
  }
  
  .book__thumb {
  width: 60%;
  }
  
  .book_textInfo {
  display: block;
  }
  
  .book__thumb {
  width: 50%;
  }
  
  .book__header {
  padding: 24px 25px 3%;
  }
  
  .book_textInfo-item {
  margin-right: 0rem;
  }
  }
  
  @media (max-width:1024px) {
  .wrapper1 {
  width: 90%;
  }
  
  .items {
  width: 24%;
  height: 33rem;
  }
  
  .presentation .wrapper1 {
  width: 60%;
  }
  
  .boxDownload-cor figure {
  width: 70%;
  }
  }
  .title__Mattos{
    text-align: center;
  }
  
  /*-------------------------------------botão---------------------------------*/
  .button001 {
    border-radius: 20px;
    background-color: #75a8f5;
    border: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    padding: 16px 32px;
    transition-duration: 0.2s;
    display: inline-block;
    cursor: pointer;
    margin: 10px 5px;
    
  }
  
  .button001 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.1s;
  }
  
  .button001 span:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.1s;
  }
  
  .button001:hover span {
    padding-right: 25px;
  }
  
  .button001:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button001:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 20px;
  }
  .button001:hover {background-color: #00c2ea}

.button001:active {
  background-color: #00c2ea;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*/////////////////////////////////////////////////////////////*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}